.container {
    margin: 20px;
    padding: 20px;
    border: solid blue 2px
}

.conatiner img {
    padding: 15px;
    width: 200px;
    border-radius: 50px;
    border: solid powderblue
}

h1 {
    color: bisque;
}